name: go-dcraw-json-ci
on:
  - push
  - pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.15.0'
      - name: Environment dependencies
        run: |
          sudo apt-get update
          sudo apt-get -q -y install dcraw wget gcc
          sudo wget https://github.com/akillmer/dcraw-json/blob/master/dcraw.c
          sudo gcc -o /usr/bin/dcraw-json -O4 dcraw.c -lm -DNODEPS
          go get -v
      - name: Tests
        run: go test -coverprofile=coverage.txt -covermode=atomic ./...
      - name: Coverage publication
        run: bash <(curl -s https://codecov.io/bash)